In [2]:
# import pandas as pd

# # Load your data into a DataFrame
# # Replace 'your_data.csv' with your actual file path
# data = pd.read_csv('clean_df_main.csv')

# def calculate_commonness(df):
#     # Group by all columns and count the occurrences
#     counts = df.groupby(list(df.columns)).size().reset_index(name='count')
#     total_rows = len(df)
#     # Calculate the percentage for each combination
#     counts['percentage'] = (counts['count'] / total_rows) * 100
#     return counts

# def remove_columns_until_commonness(data, target_percentage=10.0):
#     columns = list(data.columns)
#     removed_columns = []

#     while columns:
#         # Calculate commonness with the current set of columns
#         filtered_data = data[columns]
#         commonness = calculate_commonness(filtered_data)
        
#         # Check if any combination meets or exceeds the target percentage
#         if commonness['percentage'].max() >= target_percentage:
#             print(f"Reached target commonness with columns: {columns}")
#             return commonness, removed_columns
        
#         # If not, remove one column and continue
#         removed_columns.append(columns.pop())
    
#     print("Could not reach target commonness by removing columns.")
#     return calculate_commonness(data[columns]), removed_columns

# # Call the function and get the result
# commonness, removed_columns = remove_columns_until_commonness(data)

# # Display the result
# print(commonness)
# print(f"Removed columns: {removed_columns}")

# commonness.head(10)

Reached target commonness with columns: ['gender', 'country', 'occupation']
     gender        country occupation  count  percentage
0    Female      Australia   Business    316    0.110042
1    Female      Australia  Corporate    296    0.103078
2    Female      Australia  Housewife    384    0.133722
3    Female      Australia     Others    344    0.119793
4    Female      Australia    Student    396    0.137901
..      ...            ...        ...    ...         ...
230    Male  United States   Business  22638    7.883355
231    Male  United States  Corporate  29155   10.152806
232    Male  United States  Housewife  30527   10.630585
233    Male  United States     Others  23667    8.241689
234    Male  United States    Student  27783    9.675027

[235 rows x 5 columns]
Removed columns: ['care_options', 'mental_health_interview', 'social_weakness', 'work_interest', 'coping_struggles', 'mood_swings', 'mental_health_history', 'changes_habits', 'growing_stress', 'days_indoors', 'treatment', 'family_history', 'self_employed']

   gender    country occupation  count  percentage
0  Female  Australia   Business    316    0.110042
1  Female  Australia  Corporate    296    0.103078
2  Female  Australia  Housewife    384    0.133722
3  Female  Australia     Others    344    0.119793
4  Female  Australia    Student    396    0.137901
5  Female    Belgium   Business     79    0.027511
6  Female    Belgium  Corporate     74    0.025769
7  Female    Belgium  Housewife     96    0.033431
8  Female    Belgium     Others     86    0.029948
9  Female    Belgium    Student     99    0.034475

In [13]:
import pandas as pd
import itertools

# Load your data into a DataFrame
# Replace 'your_data.csv' with your actual file path
data = pd.read_csv('clean_df_main.csv')

def calculate_commonness(df):
    # Group by all columns and count the occurrences
    counts = df.groupby(list(df.columns)).size().reset_index(name='count')
    total_rows = len(df)
    # Calculate the percentage for each combination
    counts['percentage'] = (counts['count'] / total_rows) * 100
    return counts

def remove_columns_until_commonness(data, target_percentage=5.0):
    columns = list(data.columns)
    column_permutations = itertools.permutations(columns)
    
    for perm in column_permutations:
        current_columns = list(perm)
        removed_columns = []
        
        while current_columns:
            # Calculate commonness with the current set of columns
            filtered_data = data[current_columns]
            commonness = calculate_commonness(filtered_data)
            
            # Check if any combination meets or exceeds the target percentage
            if commonness['percentage'].max() >= target_percentage:
                print(f"Reached target commonness with columns: {current_columns}")
                return commonness, removed_columns
            
            # If not, remove one column and continue
            removed_columns.append(current_columns.pop())
    
    print("Could not reach target commonness by removing columns in any order.")
    return calculate_commonness(data[columns]), removed_columns

# Call the function and get the result
commonness, removed_columns = remove_columns_until_commonness(data)

# Display the result
print(commonness)
print(f"Removed columns: {removed_columns}")


#ascending order
ordered_commonness = commonness.sort_values(by='percentage', ascending=False)

ordered_commonness.head(10)

Reached target commonness with columns: ['gender', 'country', 'occupation', 'self_employed', 'family_history']
     gender        country occupation self_employed  family_history  count  \
0    Female      Australia   Business            No               1    316
1    Female      Australia  Corporate            No               1    296
2    Female      Australia  Housewife            No               1    384
3    Female      Australia     Others            No               1    344
4    Female      Australia    Student            No               1    396
..      ...            ...        ...           ...             ...    ...
405    Male  United States     Others           Yes               1    690
406    Male  United States    Student            No              -1  15552
407    Male  United States    Student            No               1  10449
408    Male  United States    Student           Yes              -1    972
409    Male  United States    Student           Yes               1    810

     percentage
0      0.110042
1      0.103078
2      0.133722
3      0.119793
4      0.137901
..          ...
405    0.240282
406    5.415758
407    3.638713
408    0.338485
409    0.282071

[410 rows x 7 columns]
Removed columns: ['care_options', 'mental_health_interview', 'social_weakness', 'work_interest', 'coping_struggles', 'mood_swings', 'mental_health_history', 'changes_habits', 'growing_stress', 'days_indoors', 'treatment']

,gender,country,occupation,self_employed,family_history,count,percentage
398,Male,United States,Housewife,No,-1,17088,5.950648
394,Male,United States,Corporate,No,-1,16320,5.683203
406,Male,United States,Student,No,-1,15552,5.415758
402,Male,United States,Others,No,-1,13248,4.613424
390,Male,United States,Business,No,-1,12672,4.412840
399,Male,United States,Housewife,No,1,11481,3.998092
395,Male,United States,Corporate,No,1,10965,3.818402
407,Male,United States,Student,No,1,10449,3.638713
403,Male,United States,Others,No,1,8901,3.099644
391,Male,United States,Business,No,1,8514,2.964877

In [1]:
import pandas as pd
import itertools

# Load your data into a DataFrame
# Replace 'your_data.csv' with your actual file path
data = pd.read_csv('clean_df_main.csv')

def calculate_commonness(df):
    # Group by all columns and count the occurrences
    counts = df.groupby(list(df.columns)).size().reset_index(name='count')
    total_rows = len(df)
    # Calculate the percentage for each combination
    counts['percentage'] = (counts['count'] / total_rows) * 100
    return counts

def find_commonness_for_permutation(data, columns, target_percentage=5.0):
    current_columns = list(columns)
    removed_columns = []
    
    while current_columns:
        # Calculate commonness with the current set of columns
        filtered_data = data[current_columns]
        commonness = calculate_commonness(filtered_data)
        
        # Check if any combination meets or exceeds the target percentage
        if commonness['percentage'].max() >= target_percentage:
            return commonness, removed_columns, True
        
        # If not, remove one column and continue
        removed_columns.append(current_columns.pop())
    
    return commonness, removed_columns, False

def remove_columns_until_commonness(data, target_percentage=10.0):
    columns = list(data.columns)
    column_permutations = itertools.permutations(columns)
    
    for perm in column_permutations:
        commonness, removed_columns, success = find_commonness_for_permutation(data, perm, target_percentage)
        if success:
            print(f"Reached target commonness with columns: {perm[:len(perm) - len(removed_columns)]}")
            return commonness, removed_columns

    print("Could not reach target commonness by removing columns in any order.")
    return calculate_commonness(data[columns]), columns

# Call the function and get the result
commonness, removed_columns = remove_columns_until_commonness(data)

# Display the result
print(commonness)
print(f"Removed columns: {removed_columns}")

Reached target commonness with columns: ('gender', 'country', 'occupation')
     gender        country occupation  count  percentage
0    Female      Australia   Business    316    0.110042
1    Female      Australia  Corporate    296    0.103078
2    Female      Australia  Housewife    384    0.133722
3    Female      Australia     Others    344    0.119793
4    Female      Australia    Student    396    0.137901
..      ...            ...        ...    ...         ...
230    Male  United States   Business  22638    7.883355
231    Male  United States  Corporate  29155   10.152806
232    Male  United States  Housewife  30527   10.630585
233    Male  United States     Others  23667    8.241689
234    Male  United States    Student  27783    9.675027

[235 rows x 5 columns]
Removed columns: ['care_options', 'mental_health_interview', 'social_weakness', 'work_interest', 'coping_struggles', 'mood_swings', 'mental_health_history', 'changes_habits', 'growing_stress', 'days_indoors', 'treatment', 'family_history', 'self_employed']

In [ ]:
#sns.scatterplot(data=tips, x="total_bill", y="tip", hue="size", size="size")

In [7]:
data_refresh = pd.read_csv('clean_df_main.csv')


data_refresh = data_refresh.drop(columns=['gender', 'country', 'occupation','work_interest', 'social_weakness','days_indoors'])


counted = data_refresh.groupby(list(data_refresh.columns)).size().reset_index(name='count')

sorted_counts = counted.sort_values(by='count', ascending=False)

# Display the result
print(counted)

total_rows = len(data_refresh)

counted.head(10)
counted['percentage'] = (counted['count'] / total_rows) * 100

#sorted_counts = counted.sort_values(by='percentage', ascending=False)

ordered_commonness = counted.sort_values(by='percentage', ascending=False)


ordered_commonness.head(10)

     self_employed  family_history  treatment  growing_stress  changes_habits  \
0               No              -1         -1              -1              -1
1               No              -1         -1              -1              -1
2               No              -1         -1              -1              -1
3               No              -1         -1              -1              -1
4               No              -1         -1              -1              -1
...            ...             ...        ...             ...             ...
8401           Yes               1          1               1               1
8402           Yes               1          1               1               1
8403           Yes               1          1               1               1
8404           Yes               1          1               1               1
8405           Yes               1          1               1               1

      mental_health_history  mood_swings  coping_struggles  \
0                        -1           -1                -1
1                        -1           -1                -1
2                        -1           -1                -1
3                        -1           -1                -1
4                        -1           -1                -1
...                     ...          ...               ...
8401                      1            1                 1
8402                      1            1                 1
8403                      1            1                 1
8404                      1            1                 1
8405                      1            1                 1

     mental_health_interview care_options  count
0                      Maybe           No     71
1                      Maybe     Not sure     76
2                      Maybe          Yes     24
3                         No           No    288
4                         No     Not sure    170
...                      ...          ...    ...
8401                   Maybe     Not sure      8
8402                   Maybe          Yes     13
8403                      No           No      6
8404                      No     Not sure      9
8405                      No          Yes     27

[8406 rows x 11 columns]

,self_employed,family_history,treatment,growing_stress,changes_habits,mental_health_history,mood_swings,coping_struggles,mental_health_interview,care_options,count,percentage
765,No,-1,-1,0,1,-1,-1,-1,No,No,864,0.300875
660,No,-1,-1,0,0,0,-1,-1,No,No,764,0.266052
1347,No,-1,-1,1,1,1,-1,1,No,No,658,0.229139
366,No,-1,-1,-1,1,0,-1,-1,No,No,570,0.198494
766,No,-1,-1,0,1,-1,-1,-1,No,Not sure,510,0.177600
783,No,-1,-1,0,1,-1,0,-1,No,No,500,0.174118
4431,No,1,1,0,1,-1,-1,-1,No,Yes,495,0.172377
870,No,-1,-1,0,1,1,-1,-1,No,No,494,0.172028
642,No,-1,-1,0,0,-1,1,-1,No,No,494,0.172028
348,No,-1,-1,-1,1,-1,1,-1,No,No,488,0.169939

In [11]:
data_refresh['changes_habits'].value_counts(normalize=True)*100

changes_habits
 1    37.462826
 0    32.550616
-1    29.986558
Name: proportion, dtype: float64

In [7]:
import pandas as pd
from itertools import combinations

# Load the data
df_main = pd.read_csv('df_factors.csv')
df_refresh = df_main.copy()

# Drop the specified columns
columns_to_consider = ['social_weakness', 'days_indoors']
#data_refresh = data_refresh.drop(columns=columns_to_consider)

# Calculate total rows for percentage calculation
total_rows = len(data_refresh)

# Function to find the best columns to drop
def find_best_columns_to_drop(data, columns_to_consider, max_columns_to_drop, min_percentage):
    best_percentage = 0
    best_columns_to_drop = []
    
    for i in range(1, max_columns_to_drop + 1):
        for combo in combinations(columns_to_consider, i):
            temp_data = data.drop(columns=list(combo))
            counted = temp_data.groupby(list(temp_data.columns)).size().reset_index(name='count')
            retained_percentage = (counted['count'].max() / total_rows) * 100
            if retained_percentage > best_percentage:
                best_percentage = retained_percentage
                best_columns_to_drop = list(combo)
            if retained_percentage > min_percentage:
                return best_columns_to_drop, retained_percentage
    
    return best_columns_to_drop, best_percentage

max_columns_to_drop = len(columns_to_consider)  # You can set this to a lower number if needed
min_percentage = 5  # Minimum percentage threshold

best_columns_to_drop, best_percentage = find_best_columns_to_drop(data_refresh, columns_to_consider, max_columns_to_drop, min_percentage)

if best_percentage > min_percentage:
    print(f"Best columns to drop: {best_columns_to_drop}")
    print(f"Best percentage retained: {best_percentage:.2f}%")
else:
    print("No combination of columns meets the minimum percentage threshold.")

KeyError: "['social_weakness'] not found in axis"